@keyframes shadowAppear {
  0% {
    box-shadow: black 0px 0px;
  }
  100% {
    box-shadow: black 4px 4px;
  }
}
.animate-shadow-appear {
  animation: shadowAppear 0.25s forwards;
}
.portfolio-images::-webkit-scrollbar,
.framework-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  z-index: -10;
}
.portfolio-images::-webkit-scrollbar-track {
  background: black;
  border-top: 3.5px solid var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
}
.framework-scroll::-webkit-scrollbar-track {
  background: black;
  border-top: 3.5px solid var(--color-secondary);
  border-bottom: 4px solid var(--color-secondary);
}
.portfolio-images::-webkit-scrollbar-thumb,
.framework-scroll::-webkit-scrollbar-thumb {
  background: black;
}
#home-whyus .slider-container::-webkit-scrollbar{
  display: none;
}
#home-whyus {
  position: relative;
  overflow: hidden;
}
#home-whyus > * {
  position: relative;
  z-index: 1;
}
#home-whyus::before,
#home-whyus::after,
#home-testimonials::before,
#home-contactus::before {
  content: "";
  position: absolute;
  background-image: url("/other-images-icons/why-us-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.08;
  width: 100%;
  height: 125%;
}
#home-whyus::before {
  top: -1rem;
  right: -75%;
  background-position: right;
  transform: rotate(180deg);
}
#home-whyus::after {
  bottom: -10%;
  left: -25%;
  background-position: left;
}
#home-testimonials::before {
  bottom: -25%;
  left: -30%;
  background-position: left;
  z-index: -1;
}
#home-contactus::before {
  top: -20%;
  left: -20%;
  width: 50%;
  
  background-position: left;
  transform: rotate(180deg);
  
}
#home-framework {
  z-index: 1;
}
#home-framework > div {
  z-index: 2;
}
#The7DFrameworkBG {
  clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
  z-index: 0;
}
.framework-scroll > div {
  z-index: 1;
}
#testimonials::-webkit-scrollbar {
  display: none;
}

input,textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
}
label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease;
}
input:focus,textarea:focus {
  border: 2px solid var(--color-secondary);
}
input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-60%);
  color: var(--color-secondary);
  background-color: #fff;
}

/*Animation for about scetion and why us section, small screen only*/
@media screen and (max-width: 768px) {
.slider-container {
  transition: transform 3s ease; 
}
}
