@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
      --color-primary : #FDC546;
      --color-secondary: #44AAB6;
}
.hide-scrollbar::-webkit-scrollbar{
display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}